body {
    background-image: url("../Art/zwartevilt.jpg");
    background-repeat: repeat;
}

.jesseBio {
    background-color: #666666;
    margin: 20px 0px;
    font-size: 18px;
    font-family: 'Cardo', serif;
    border:black solid 5px;
    border-radius:5px;
    color: #111100;
}

#jesseImg {
    width: 20%;
    margin: 20px;
    margin-left: 5px;
    border: 1px solid black;
    float: left;
}

.navEdit {
    font-family: 'Unlock', cursive;
    background-image: url("../Art/little_pluses.jpg");
}

.homeBtn {
    font-size: 40px;
}

.navItems {
    font-size: 25px;
}

.contactme {
    background-color: #666666;
    margin: 20px 0px;
    font-family: 'Cardo', serif;
    border:black solid 5px;
    border-radius:5px;
    color: #111100;
}

.contactH1 {
    font-family: 'Unlock', cursive; 
    display: block;
}

.contactStyle {
    font-size: 24px;
    font-weight: bold;
}

.commentEdit {
    height: 200px;
    text-align: initial;
}

.portBox {
    background-color: #666666;
    height:100%;
    margin-top: 20px;
    border:black  solid 5px;
    border-radius:5px;
    color: #111100;
    margin-bottom: 80px;
    width: auto;
}
.portfolioItems {
    height: 250px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 5px;
}

.copyright {
    text-align: center;
    width: 100%;
    font-family: 'Unlock', cursive;
    font-size: 20px;
    padding-bottom: 5px;
}

.cardtext {
    font-family: 'Unlock', cursive;
    font-size: 20px;
    background-image: url("../Art/little_pluses.jpg");
    height: auto;
    text-align: center;

}

.footer {
    background-image: url("../Art/little_pluses.jpg");
}

.submitBtn {
    margin-bottom: 20px;
    font-family: 'Cardo', serif;
    font-weight: bold;
    width: 150px;
}

.card {
    border: 4px white solid;
    margin-top: 10px;
    margin-left: 10px;
}

.cardPic {
    height: 250px;
}

.myDropDown {
    position: relative;
    display: inline-block;
}

.dropdownHub {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: gray;
    width: 250px;
    height: 100px;
    padding-top: 20px;
    border-radius: 20px;
    border: solid white 2px;
    z-index: 2;
    
}

.dropdownHub a {
    color: #111100;
    text-decoration: none;
    display: block;
    margin-left: 5px;
    font-size: 18px;
}